{% extends "base.html" %}
{% block main-block%}

{{ content|safe }}
{% for ip in ips %}
<form class="ipForm" action="#" method="get">
    {{ csfr_token }}
    {{ ip.0 }}
    <div class="ip">{{ ip.1 }}</div>
    <input type="hidden" value="{{ ip.1 }}" name="ip">
    <input type="submit" name="ipButton" class="ipButton" value="Vybrat">
</form>

{% endfor %}
Odkaz
<input class="linkVideo" type="text">

<script>
    $('.ipForm').submit(function(event){
        event.preventDefault()
        data = "ipButton"
        console.log($(this).serialize());
        var ajaxRequest;
        ajaxRequest = $.ajax({
            url : window.location.pathname,
            data: "ip=" + jQuery("> .ip", $(this)).text() +"&ipButton=ipButton" + "&link=" + $('.linkVideo').val(),
            type: "get"
        })
    });


</script>

{% endblock %}